apiVersion: v1
kind: Service
metadata:
  name: api-gateway
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: pedido-service
spec:
  type: ClusterIP
  selector:
    app: pedido-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
